
.holder {
    display: flex;              
    flex-wrap: wrap;            
    justify-content: space-between; 
    padding: 10px;             
}

.item {
    flex: 1 1 auto;             
    margin: 5px;                
    min-width: 100px;           
    background-color: #f0f0f0;  
    text-align: center;         
    padding: 20px;              
}
